/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .custom-input {
    @apply block outline-none text-sm p-3 bg-gray-200 rounded-sm;
  }
  .custom-label {
    @apply my-0.5 block text-sm;
  }
  .heading-2 {
    @apply text-center tracking-wide leading-loose my-6 font-display font-bold text-4xl;
  }
  .heading-3 {
    @apply text-lg font-bold my-3;
  }
  .transit {
    @apply transition-all duration-150 ease-in-out;
  }
}

@layer utilities {
  .pr-one {
    padding: 0px 2px 0 0;
  }
  .px-one {
    padding: 0px 2px;
  }
  .py-1rm {
    padding: 1rem 0rem;
  }
  .scroll-w-2::-webkit-scrollbar {
    width: 7px;
    color: #6969dd;
  }
  .scroll-w-2::-webkit-scrollbar-track {
    background-color: white;
  }

  .scroll-w-2::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
  }
  .border-1 {
    border-width: 1px;
  }

  .border-t-1 {
    border-top-width: 1px;
  }
  .border-b-1 {
    border-bottom-width: 1px;
  }

  .textarea::placeholder {
    font-size: 0.9em;
  }
  .text-cart {
    font-size: 0.7em;
  }

  .auto-rows-3 {
    grid-auto-rows: 300px;
  }
  .stroke {
    /* color: black; */
    /* font-size: 34px; */
    -webkit-text-stroke: 0.1px black;
    -webkit-text-fill-color: white;
  }
  .grid-cols-rep4 {
    grid-template-columns: repeat(4, 25%);
  }
  .grid-cols-rep3 {
    grid-template-columns: repeat(3, 33%);
  }
  .grid-cols-rep2 {
    grid-template-columns: repeat(2, 50%);
  }
  .gap-two {
    gap: 2px;
  }
  .label-offset {
    top: 0.45rem;
  }
  .h-one {
    height: 2px;
  }
}
