/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .custom-input {
    @apply block outline-none text-sm p-3 bg-gray-200 rounded-sm;
  }
  .custom-label {
    @apply my-0.5 block text-sm;
  }
}

@layer utilities {
  .scroll-w-2::-webkit-scrollbar {
    width: 7px;
    color: #6969dd;
  }
  .scroll-w-2::-webkit-scrollbar-track {
    background-color: white;
  }

  .scroll-w-2::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
  }
  .border-1 {
    border-width: 1px;
  }

  .border-t-1 {
    border-top-width: 1px;
  }
  .border-b-1 {
    border-bottom-width: 1px;
  }

  .textarea::placeholder {
    font-size: 0.9em;
  }
  .text-cart {
    font-size: 0.7em;
  }
}
